---
layout: layouts/base.njk
pagination:
  data: collections.posts
  size: 20
  alias: posts
permalink: "{% if pagination.pageNumber == 0 %}/{% else %}/page/{{ pagination.pageNumber + 1 }}/{% endif %}"
---
{% set authorCardVariant = "home" %}
{% include "partials/author-card.njk" %}
{% include "partials/post-stream.njk" %}
